* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-4-footer,
.col-4-footer2 {
  width: 33.333333%;
}

img {
  max-width: 100%;
}

/* footer */

.p-footer {
  color: #007a4c;
  font-size: 16px;
  text-align: justify;
  list-style-type: none;
}

.text-footer {
  text-align: justify;
  color: #007a4c;
  font-size: 16px;
}

.text-footer2 {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}
.p-footer {
  text-align: center;
}

.title-footer {
  padding-top: 6px;
  color: #007a4c;
  font-size: 16px;
  font-weight: 600;
}
.ul-footer {
  text-align: center;
}

.left {
  text-align: end;
  color: #007a4c;
}

footer {
  background-color: #e8e8e8;
  bottom: 0;
  left: 0;
}

/*btn footer*/
.button-footer {
  justify-content: center;
  border-radius: 40px;
  background-color: #007a4c;
  border-color: #007a4c;
  font-size: 1em;
  padding: 1rem 2.25rem;
  padding-left: 2.8em;
  padding-right: 2.8em;
  color: white;
  cursor: pointer;
}
.btn {
  text-align: center;
}

.fa {
  padding-right: 10px;
}
.center {
  text-align: center;
}
.green {
  color: #007a4c;
}

@media (max-width: 1189px) and (min-width: 300px) {
  .text-footer {
    font-size: 14px;
  }
  .text-footer2 {
    font-size: 14px;
  }
  .fa-bars {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .text-footer {
    display: block;
  }
  .text-footer2 {
    display: block;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .col-4-footer {
    width: 50%;
  }
  .col-4-footer2 {
    width: 100%;
  }
  .fa-facebook-f::before {
    font-size: 20px;
  }
  .fa-youtube-play::before {
    font-size: 20px;
  }
  .fa-instagram::before {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .btn {
    padding-bottom: 20px;
  }
  .col-4-footer {
    width: 100%;
  }
  .text-footer2 {
    padding-bottom: 5px;
  }
  .footer-icon {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 40px;
  }
  .fa-facebook-f::before {
    font-size: 20px;
  }
  .fa-youtube-play::before {
    font-size: 20px;
  }
  .fa-instagram::before {
    font-size: 20px;
  }
  .hotline {
    width: 200px;
  }
  .btn {
    text-align: center;
    padding-top: 10px;
  }
  .button-footer {
    padding: 10px 20px 10px 20px;
  }
}

/*footer fixing*/
footer {
  padding: 20px 0 20px 0;
}

.text-footer {
  padding-bottom: 10px;
  font-weight: 600;
}

.ft-icon {
  padding: 10px;
  text-decoration: none;
  border-radius: 50%;
  background: #007a4c;
  color: white;
  transition: 0.3s;
}

.ft-icon:hover,
.button-footer:hover {
  background-color: red;
}

.button-footer {
  cursor: pointer;
  transition: 0.3s;
}

.footer-icon-container {
  padding-bottom: 10px;
}
