/*breadcrumb*/

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 20px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  text-decoration: none;
  font-size: 14 px;
  color: black;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/* Qtt btn */
.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}

/*product-detail*/

.product-detail-container {
  max-width: 1100px;
  margin: 0 auto;
}

.detail-container {
  line-height: 32px;
}

.detail-title {
  font-size: 20px;
  font-weight: 600;
}

.detail-price {
  color: red;
  font-size: 24px;
  font-weight: 600;
}

b {
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 20px;
  border-top: 1px solid;
  padding-top: 15px;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  color: black;
}

.buy-now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
  background: red;
  color: #ffffff;
  border: 1px solid #d9d9d9;
}

.detail-pics {
  padding-top: 10px;
}

.detail-pic {
  width: 121px;
  height: 121px;
  border: 1px solid #d9d9d9;
}

.product-detail-title {
  padding-top: 30px;
  border-bottom: 1px solid;
}

.product-detail-para p {
  font-weight: 400;
  text-align: justify;
}

.product-detail-para {
  padding-right: 40px;
}

/*product card*/
.col-3-prodetail {
  width: 25%;
  padding-bottom: 50px;
}

.col-6-prodetail {
  width: 50%;
}

.col-8-prodetail {
  width: 66.666667%;
}

.col-4-prodetail {
  width: 33.33333%;
}
.card-info {
  text-align: center;
}

.card-title {
  font-size: 16px;
}

.card-price {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}
.card-buttons {
  padding-top: 10px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
}

.card-button-2 {
  width: 50%;
  background-color: #eb2039;
  border: none;
  color: white;
  line-height: 34px;
}

.card-button-1 {
  width: 50%;
  background-color: white;
  border: 1px solid #d9d9d9;
  line-height: 34px;
}

@media (max-width: 1189px) and (min-width: 300px) {
  .col-3-prodetail {
    width: 50%;
  }
  .card-img {
    text-align: center;
  }
  .card-buttons {
    justify-content: center;
  }
  .card-button-1 {
    width: 30%;
    padding: 2px;
  }
  .card-button-2 {
    width: 30%;
    padding: 2px;
  }
  .text-footer {
    font-size: 12px;
  }
  .fa-bars {
    padding-right: 0px;
  }
  .category-info {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .col-3-prodetail {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .card-button-1 {
    width: 100px;
    height: 32px;
  }
  .card-button-2 {
    width: 100px;
    height: 32px;
  }
}

@media (max-width: 962px) {
  .add-to-cart,
  .buy-now {
    font-size: 11px;
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 722px) {
  .add-to-cart,
  .buy-now {
    font-size: 11px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 641px) {
  .col-6-prodetail {
    width: 100%;
  }
  .detail-pics {
    display: none;
  }
  .add-to-cart,
  .buy-now {
    font-size: 11px;
    padding: 0px 10px 0px 10px;
  }
  .col-6-prodetail {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
  .col-8-prodetail {
    width: 100%;
    justify-content: center;
  }
  .col-4-prodetail {
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
  .product-detail-para {
    padding: 0px 10px 0px 10px;
  }
  .product-detail-title {
    padding: 0px 10px 0px 10px;
  }
}
