* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  margin: 0;
}

header {
  padding-top: 10px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  list-style-type: none;
  color: black;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0px;
  gap: 22px;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* padding-left: 15px;
    padding-right: 15px; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* [class*="col-"] {
  margin-top: 10px;
} */

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

img {
  max-width: 100%;
}

.logo {
  width: 20%;
}

#search-bar-container {
  top: 65px;
  position: absolute;
  display: none;
  border: 4px solid turquoise;
  border-radius: 50px;
  background-color: white;
  max-width: 200px;
  padding: 8px;
}

.search-bar {
  flex-grow: 2;
  border-radius: 0px;
  border: none;
}

input:focus {
  outline: none;
}

.border {
  padding-top: 30px;
  border-bottom: 4px groove;
  text-align: center;
}

p {
  font-size: 1.125rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

/* footer */

.p-footer {
  color: #007a4c;
  font-size: 16px;
  text-align: justify;
  list-style-type: none;
}

.text-footer {
  text-align: justify;
  color: #007a4c;
  font-size: 16px;
}

.p-footer {
  text-align: center;
}

.p-header {
  width: 90px;
  color: black;
}

.title-footer {
  padding-top: 6px;
  color: #007a4c;
  font-size: 16px;
  font-weight: 600;
}
.ul-footer {
  text-align: center;
}

.left {
  text-align: end;
  color: #007a4c;
}

footer {
  background-color: #e8e8e8;
  bottom: 0;
  left: 0;
}

/*btn footer*/
.button-footer {
  justify-content: center;
  border-radius: 40px;
  background-color: #007a4c;
  border-color: #007a4c;
  font-size: 1em;
  padding: 1rem 2.25rem;
  padding-left: 2.8em;
  padding-right: 2.8em;
  color: white;
}
.btn {
  text-align: center;
}

.footer-icon {
  padding-right: 65px;
  padding-bottom: 10px;
}

.fa {
  padding-right: 10px;
}
.center {
  text-align: center;
}
.green {
  color: #007a4c;
}

.toggle {
  display: none;
}

#toggle-bar {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #007a4c;
}

.topnav {
  overflow: hidden;
  background-color: #007a4c;
}

.topnav a {
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

@media (max-width: 1238px) {
  .navigation {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .icon {
    display: flex;
    text-align: center;
  }
  .toggle {
    text-align: center;
    display: inline-block;
  }
}

@media (max-width: 1189px) and (min-width: 300px) {
  .card-img {
    text-align: center;
  }
  .card-buttons {
    justify-content: space-between;
  }
  /* .card-button-1 {
    width: 30%;
    padding: 1px;
    font-size: 10px;
  }
  .card-button-2 {
    width: 30%;
    padding: 1px;
    font-size: 10px;
  } */
  .text-footer {
    font-size: 12px;
    padding-left: 20px;
  }
  .fa-bars {
    padding-right: 0px;
  }
  .category-info {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .category-info {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .cate-pic {
    width: 60%;
  }
  .text-footer {
    display: none;
  }
  .text-footer2 {
    /* font-size: 14px; */
    display: none;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .col-4-category {
    width: 100%;
  }
  .col-4-footer {
    width: 50%;
  }
  .col-4-footer2 {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .text-footer2 {
    font-size: 8px;
    padding-top: 0px;
  }
  .footer-icon {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 40px;
  }
  .fa-facebook-f::before {
    font-size: 30px;
  }
  .fa-youtube-play::before {
    font-size: 30px;
  }
  .fa-twitter::before {
    font-size: 30px;
  }
  .hotline {
    width: 200px;
  }
  .btn {
    text-align: center;
    padding-top: 10px;
  }
  .button-footer {
    padding: 10px;
  }
}

/* end header & footer*/

/*breadcrumb*/

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 20px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  text-decoration: none;
  font-size: 14 px;
  color: black;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/*side custom block*/
.porto {
  display: flex;
  align-items: center;
}
.porto-name {
}
.porto-container {
  border: 1px solid #e7e7e7;
  padding: 20px;
  justify-content: center;
  position: fixed;
}

/*product card*/
.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
}

.card-info {
  text-align: center;
}

.card-title {
  font-size: 16px;
  color: black;
}

.card-price {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}
.card-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card-button-2 {
  width: 45%;
  background-color: #eb2039;
  border: none;
  color: white;
  line-height: 34px;
}

.card-button-1 {
  width: 45%;
  background-color: white;
  border: 1px solid #d9d9d9;
  line-height: 34px;
  color: black;
}

/*product page*/
@media (max-width: 1079px) {
  .porto-container {
    display: none;
  }
  .card-title {
    font-size: 14px;
  }
  .col-9 {
    width: 100%;
  }
}

@media (max-width: 717px) {
  .col-4-card {
    width: 50%;
  }
  .card-button-1 {
    font-size: 14px;
  }
  .card-button-2 {
    font-size: 14px;
  }
  .col-3-product {
    display: none;
  }
  .col-9 {
    width: 100%;
  }
}

@media (max-width: 457px) {
  .card-button-1 {
    font-size: 10px;
    padding: 0px 2px 0px 2px;
  }
  .card-button-2 {
    font-size: 10px;
    padding: 0px 2px 0px 2px;
  }
}
